{% extends "base.html" %}

{% block title %}Quizlet Gravity{% endblock %}

{% block content %}
  <form action = "/gravity" method="post">
    <div class="form-group">
      <label for="quizlet-url">Paste the link to your Quizlet URL:</label>
      <input type="text" class="form-control" id="quizlet-url" placeholder="https://quizlet.com/123456" name="url">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    {% for mesg in get_flashed_messages() %}
    <h6>{{ mesg }}</h6>
    {% endfor %}
  </form>
{% endblock %}